@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1560px;
  max-height: 95vh;
  margin: 0 auto;
  overflow: scroll;
}

a {
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

a:hover {
  color: rgb(99 102 241 / var(--tw-text-opacity));
}
